.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}
.title-row {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
}
.book-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.left-panel {
    width: 50%;
    text-align: justify;
    padding-left: 4vh;
}
.description {
    width: 50%;
    font-size: 4vh;
}
.property {
    width: 50%;
    height: auto;
    font-size: 3.45vh;
}
.right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 4vh;
}
.uploaded-by-container {
    display: flex;
    justify-content: center;
    width: 75%;
}
.user {
    width: 80%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.buttons-container button {
    height: 5.5vh;
    width: 5.5vh;
    border: 0;
    background-color: white;
    font-size: 4vh;
}
.buttons-container button:hover {
    background-color: white;
    border: 0;
    font-size: 4.25vh;
}
.buttons-container button:active {
    font-size: 4vh;
}
.button-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-and-text + .button-and-text {
    margin-left: 2.3vh;
}
.like-p {
    color: green;
}
.dislike-p {
    color: red;
}