.input-with-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.input-with-button input[type="password"],
.input-with-button input[type="text"] {
    margin-left: 10px;
}
.show-password-checkbox {
    border-radius: 5px;
}
.show-password-checkbox:hover {
    background-color: black ;
}