.nav-menu {
    background-color: lightslategray;

    display: flex;
    flex-direction: row;
    height: 70px;
}
.nav-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:inherit;
    width: 400px;
}
.nav-title-container h1 {
    color: white;
    font-weight: bold;
    cursor: default;
}
.nav-constant-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:inherit;
    align-items: center;
    width: 350px;
    margin-left: 500px;
}
.nav-constant-buttons p {
    color: white;
    font-size: 28px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-constant-buttons a {
    color: white;
    text-decoration: none;
}
.nav-constant-buttons a:hover {
    font-weight: bold;
}
.nav-optional-buttons {
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-logo {
    height: 30px;
}
.profile-logo:hover {
    cursor: pointer;
}